---
import CardLaunch from "./CardLaunch.astro";
import {getLastestLaunc} from '../services/space'


const launches = await getLastestLaunc();
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        launches.map(({ id, links, name, flight_number, success, details }) => (
            <CardLaunch
                id={id}
                img={links.patch.small}
                name={name}
                flightNumber={flight_number}
                success={success}
                details={details}
            />
        ))
    }
</div>
